## Mac Fan Control Daemon
# 

[Unit]
Description=Fan control daemon for MacBook
Documentation=man:macfanctld(1)

[Service]
Type=simple
ExecStart=/usr/bin/macfanctld

[Install]
WantedBy=multi-user.target

